# File system directories
.DS_Store

# VS Code folder
.vscode/*

# Builds
build/*

# TeX files
report/*.aux
report/*.bcf
report/*.run.xml
report/*.glo
report/*.idx
report/*.log
report/*.toc
report/*.ist
report/*.acn
report/*.acr
report/*.alg
report/*.bbl
report/*.blg
report/*.dvi
report/*.fdb_latexmk
report/*.fls
report/*.glg
report/*.gls
report/*.ilg
report/*.ind
report/*.log
report/*.lof
report/*.lot
report/*.maf
report/*.mtc
report/*.mtc1
report/*.out
report/*.synctex.gz
report/*.toc